{
  "presets": [ "module:metro-react-native-babel-preset" ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "assets": "./dist/assets"
      }
    }]
  ]
}
